  /* Clean default css style */
  * {
      font-size: 100%;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  html,
  body {
      min-height: 100vh;
      margin: 0;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
  }

  a {
      color: #000;
      text-decoration: none;
  }

  hr {
      margin: 0px;
  }

  .zero-margin-hr {
      margin: 0px;
  }

  :root {
      font-size: 18px;
      /* 默认根字体大小 */
  }

  /* Clean default css style */

  .header-bar {
      /* position: fixed; */
      height: 40px;
      border: 1px solid red;
      background-color: pink;
      display: flex;
      align-items: center;
  }

  .header-bar-button {
      color: green;
      font-size: 1.5rem;
      margin: 0 20px 0 20px;
  }

  .header-bar-translation {
      display: flex;
      margin-left: auto;
      margin-right: 20px;

  }



  .landingPage-hidden {
      opacity: 0;
      transform: translateY(100px);
  }

  .landingPage-inner-div {
      width: 100%;
  }

  .landingPage-container {
      /* height: 200vh; */
      overflow-y: hidden;
      overflow-x: hidden;
      /* width: 100%; */
  }

  .landingPage-section {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: top;
      /* font-size: 2rem; */
      transition: transform 1s, opacity 1s;
  }

  .landingPage-section1-box {
      width: 100%;
      height: 100vh;

      /* color: white; */
      /* background-image: url('./assets/background.jpeg'); */
      background-size: cover;
      /* 图片填满容器 */
      background-position: -0px center;
      /* 图片居中 */
      background-repeat: no-repeat;
      /* 防止图片重复 */
      justify-content: space-between;
      background-color: grey;
      position: relative;
  }

  .landingPage-section1-name {
      position: absolute;
      font-size: 4rem;
      font-weight: 200;
      top: 35vh;
      left: 80px;

  }

  .landingPage-section1-position {
      position: relative;
      font-size: 1.8rem;
      font-weight: 100;
      top: 45vh;
      left: 80px;
      /* margin-top: 200px; */
  }

  .landingPage-section2-box {
      /* display: flex;
    width: 60%; 
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: grey;
    margin: 0 auto;  */
    width: 100%;
    overflow-x: hidden;

  }

  .landingPage-section2-story {
      line-height: 1.4;
      width: 55%;
      align-items: center;
      justify-content: center;
      background-color: grey;
      margin: 10px auto 0 auto;

  }

  .landingPage-section2-story ul {
      padding-left: 25px;
  }

  .andingPage-section2-contact-button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 50px auto 0 auto;
  }

  .footer-bar {
      position: relative;
      width: 100%;
      height: 80px;
      background-color: pink;
  }

  .footer-bar-social-medias {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      /* 垂直居中 */

      display: flex;
      /* 设置为 flex 布局 */
      gap: 20px;
      /* 设置子元素之间的间距 */
  }

  .footer-bar-return-button {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
  }

  .footer-bar-copyright {
      position: absolute;
      right: 20px;
      bottom: 10px;
      font-size: 0.8rem;
  }

  .footer-bar-language {
      position: absolute;
      width: 160px;
      right: 0px;
      top: 10px;
  }